#summary{
    background-color:lightgreen;
    color:black;
}
.Education
{
background-color:lightslategray;
}
div, ul{
    background-color:lightsalmon;
    color:black
}
.projects{
    background-color: aqua;
}
